<table id="calendar">
    <tbody>
    {% for week in weeks %}
        <tr>
        {% for weekday in week %}
            <td class="{% if weekday.available == False %}red{% endif %}">
            {% if weekday.date != None %}
                <a href="{% url 'exams_scheduler:professor_day' day=weekday.date.day month=weekday.date.month %}">
                {{ weekday }}
                </a>
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>