# Replace default values and rename this file to settings_secret.py

# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.9/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '=u&950@ecb4s*y5dgmj$)ju__g^v$-%^6s58x%%c2a%%@xaqpr'
